.containerSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headersContainer {
  h5 {
    min-height: 4rem;
    padding: 1rem 0;
    width: 200px;
  }
}

.answersContainer {
  > div {
    align-items: start;
    min-height: 4rem;
    padding: 1rem 0;
    text-overflow: ellipsis;
    width: 400px;
  }
}

.registerButton {
  border: none;
  transition:
    width 0.4s ease-in-out,
    color 0.8s ease-in-out;
  white-space: nowrap;
}

.notLoadingButton {
  width: 300px;
}

.loadingButton {
  color: transparent;
  width: 100px;
}
