.accordion {
  overflow: hidden;
  @apply shadow-lg;

  button {
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    font-weight: 600;
    padding: 0.5rem 1rem;

    transition: all 0.5 ease;
    width: 100%;

    h4 {
      margin-left: 1rem;
    }

    svg {
      transition: all 0.2s ease;
    }
  }

  .arrowClosed {
    rotate: initial;
  }

  .arrowOpen {
    rotate: (90deg);
  }

  .notShow {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease;
  }

  .contentShow {
    height: auto;
    transition: height 0.35s ease;
  }

  .content {
    background-color: #fff;
    padding: 1rem;
  }
}
