.progressBar {
    color: #000;
    counter-reset: step-a;
    margin: 0 auto;
    font-size: 1rem;
    list-style-type: none;
    position: relative;
    text-transform: uppercase;
    li {
        width: 33.3%;
        position: relative;
    }
    li:before {
        background-color: #f2be12;
        border-radius: 50%;
        color: #000;
        counter-increment: step-a;
        content: counter(step-a);
        display: block;
        font-size: 2.5rem;
        line-height: 20px;
        margin: 0 auto 5px auto;
        padding: 10px;
        text-align: center;
        width: fit-content;
    }
    li:first-child:after {
        content: none;
    }
    li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #f2be12;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1;
    }
}
