.formSignUp {
    input{
        border: none;
        border-radius: 0%;
        border-bottom: 1px solid #b9b9b9;
        padding: 0;
        padding-bottom: 5px;
        padding-top: 0.5rem;
        color: #000;

        &:focus{
            outline: none;
        }
    }

    h2{
        @apply font-paragraph text-lg;
        font-weight: bold;
        color: #000 !important;
    }

    .errorLabel{
        @apply text-red-500 text-sm
    }
}