.formSignUp {
  input {
    border: none;
    border-bottom: 1px solid #b9b9b9;
    border-radius: 0%;
    color: #000;
    padding: 0;
    padding-bottom: 5px;
    padding-top: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  h2 {
    @apply font-paragraph text-lg;
    color: #000 !important;
    font-weight: bold;
  }

  .errorLabel {
    @apply text-red-500 text-sm;
  }
}
