.circleStep {
  margin-right: 40px;
  position: relative;

  div &:not(:last-child)::after {
    background-color: #b4b4b4;
    content: '';
    height: 2px;
    position: absolute;
    right: -103px;
    top: 78%;
    transform: translateY(-50%);
    width: 130px;
  }

  &:last-child {
    margin: 0;
  }
}
