.backgroundPage {
  background-position-y: 8rem;
}

.tableServices {
  background-color: #fff;
  margin: auto;

  th {
    height: 5rem;
    padding: 1rem;
    text-align: left;
    width: 18rem;
  }

  tr {
    border-bottom: 1px solid #dfdfdf;
  }

  td {
    height: 5rem;
    padding: 1rem;
    text-align: center;
    width: 15rem;

    svg {
      margin: auto;
    }
  }
}
