$aside-width: 20rem;

.dashboard{
    background-color: #ebebeb;
    display: flex;
    width: 100%;
    position: relative;
    min-height: 100vh;


    .dashboard__body{
        margin-left: $aside-width;
        padding: 1rem;
        position: relative;
        transition: .3s all;
        width: calc(100vw - $aside-width);
    }

    .dashboard__bodyExpanded{
        margin-left: 5rem;
        width: calc(100vw - 5rem);
    }
}