$aside-width: 20rem;

.dashboard {
  background-color: #ebebeb;
  display: flex;
  min-height: 100vh;
  position: relative;
  width: 100%;

  .dashboard__body {
    margin-left: $aside-width;
    padding: 0;
    @media screen and (width > 768px) {
      padding: 1rem 3rem;
    }
    position: relative;
    transition: 0.3s all;
    width: calc(100vw - $aside-width);
  }

  .dashboard__bodyExpanded {
    margin-left: 5rem;
    width: calc(100vw - 5rem);
  }
}
