.cardSummary{
    @apply shadow-md text-black bg-white;
    border-radius: 10px;
    min-width: 20rem;
    min-height: 10rem;
    padding: 1.5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3{
        @apply font-paragraph
    }
}