@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Isidora;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Isidora-Alt-Bold.otf') format('opentype');
}
@font-face {
  font-family: Isidora;
  font-style: normal;
  font-weight: medium;
  src: url('../public/fonts/Isidora-Medium.otf') format('opentype');
}

@font-face {
  font-family: Isidora;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Isidora-Semi-Bold.otf') format('opentype');
}

a {
  text-decoration: none;
}
@layer base {
  html {
    box-sizing: border-box;
    font-family: Isidora, system-ui, sans-serif;
  }

  h1,
  h2,
  h3 {
    font-family: eveleth, sans-serif;
  }

  * {
    line-height: 1.5;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Global styles for the site ! */

.link {
  border-bottom: 2px solid;
  text-decoration: none;

  transition: 0.3s ease;
  @apply border-transparent;
}

.link:hover {
  @apply border-yellowQ;
}

.btn {
  @apply box-content w-fit cursor-pointer rounded-full px-5 py-2 text-lg font-bold uppercase tracking-wider;

  &:disabled {
    @apply cursor-not-allowed bg-gray-300;
    @apply opacity-50;
  }
}

.btn-primary {
  @apply bg-yellowQ text-black;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: bolder;
  transition: 0.2s ease;

  width: fit-content;
}

.btn-primary:not(:disabled):hover {
  border-color: #000;
}

.btn-secondary {
  @apply bg-black text-white hover:bg-white hover:text-black;
}

.btn-dark {
  @apply bg-black text-white hover:bg-white hover:text-black;
}

.btn-outline-primary {
  @apply rounded-lg border-yellow-300 hover:border-yellowQ;
  border: 1px solid;
  transition: 0.2s ease;

  width: fit-content;
}

.title {
  @apply font-bold;
}

.yellowText {
  @apply text-yellowQ;
}

/* Forms Styles */

input {
  border: 1px solid #b2b2b2;
  border-radius: 0.7rem;
  padding: 0.7rem;
  width: 100%;
  @apply outline-yellowQ;
}

input:disabled {
  @apply bg-gray-200 text-gray-600;
  cursor: not-allowed;
}

.map-container {
  display: block;
  height: 300px;
}

/* Table Styles */

table {
  @apply bg-white text-gray-500;

  overflow-y: scroll;
  table-layout: fixed;

  th {
    @apply font-paragraph text-gray-800;
    font-weight: 600;
    padding: 0.7rem;
    padding-left: 0;
    white-space: nowrap;

    button {
      margin-left: 0.5rem;
      vertical-align: middle;
    }

    &:first-child {
      padding-left: 0.5rem;
    }
  }

  tr {
    @apply border-[1px] border-gray-200;
  }

  td {
    padding: 0.5rem;
    padding-left: 0;

    &:first-child {
      padding-left: 0.5rem;
    }
  }
}
