@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'isidora', sans-serif;
}

a {
  /* color: #fff; */
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'eveleth', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
/* Global styles fot the site ! */

.btn {
  width: fit-content;
  padding: 14px 25px;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.2s ease;
  font-size: 18px;
}

.btn-primary {
  @apply btn bg-yellowQ text-black;
}

.btn-primary:hover {
  transform: translatey(-2px);
}

.btn-outline {
  @apply btn border-yellowQ border-2 text-white bg-transparent;
}

.btn-outline:hover {
  @apply bg-yellowQ text-black;
}

.btn-secondary {
  @apply btn bg-transparent text-white hover:bg-white hover:text-black;
}
.btn-dark {
  @apply bg-black text-white hover:bg-white hover:text-black;
}

.nav-links {
  @apply border-b-transparent border-b-4 hover:border-b-yellowQ text-white;
  padding: 10px;
  transition: border 0.3s ease;
}
.title {
  @apply font-bold;
}

.yellowText {
  @apply text-yellowQ;
}
